body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.topo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.retanguloEsquerda {
    width: 120px;
    height: 140px;
    background-color: #008b8b;
}

.retanguloCentro {
    flex: 1;
    height: 60px;
    background-color: #d9ff00;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quadrado1 {
    width: 60px;
    height: 50px;
    background-color: #ff7b22;
}

.quadrado2 {
    width: 60px;
    height: 50px;
    background-color: #ff00c8;
}



.meio {
    background-color: #00067a;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.quadradoLaranja {
    width: 45px;
    height: 45px;
    border: 4px solid #ff4e27;
    border-radius: 0; 
    background-color: transparent;
}



.inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraAzul {
    height: 25px;
    width: 45%;
    background-color: #66a3ff;
    border-radius: 4px;
}

.barraVermelha {
    height: 25px;
    width: 45%;
    background-color: #ff0000;
    border-radius: 4px;
}
